@use 'igniteui-angular/theming' as *;
@import 'minireset.css/minireset';
@include core();
@include typography(
  $font-family: $material-typeface,
  $type-scale: $material-type-scale
);
$my-dropdown-theme: drop-down-theme(
  $background-color: #1e1e27,
);
@include css-vars($my-dropdown-theme);

$my-input-group-theme: input-group-theme(
  $focused-secondary-color: rgb(185, 185, 185),
  $focused-bottom-line-color: rgb(185, 185, 185),
  $idle-bottom-line-color: transparent,
);
@include css-vars($my-input-group-theme);
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #0e0e11;
  border: 2px solid #aeaeae;
  border-radius: 10px;
}
